[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-cors-headers = "*"
django = "*"
dj-rest-auth = "*"
django-allauth = "*"
requests = "*"
chromadb = "*"
langchain = "*"
langchain-community = "*"
sentence-transformers = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
